.header
  .header__top
    .header__top__user
      .header__top__user__name
        name
      %ul.header__top__user__icon
        %li.header__top__user__icon__edit
          = link_to "#", class: "icon-edit" do
            = icon('far', 'edit')
        %li.header__top__user__icon__cog
          = link_to "#", class: "icon-cog" do
            = icon('fas', 'cog')
  .header__main
    .header__main__users
      user
    .header__main__messages
      message
      -# 画面表示確認のため繰り返し表示
    .header__main__users
      user
    .header__main__messages
      message
    .header__main__users
      user
    .header__main__messages
      message